<html>
<head>
<title>MathJax AsciiMath Test Page</title>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
</head>
<body>

<p>Sample of numeric sequence:</p>

<p style="text-align:left">
  `a(n) = (n^2 * (n-1)/(sqrt(n-1)))`
	<br/>
  `a(n) = (5 / ((5 - n) ^ (2 / (n * (n ^ (((3 + 3) - 1) * 5))))))`
<br/>
`a(n) = ((5-(n*sin((1+sin(sin(n^((3^((0*(7+(10^(3*(((9/(8/(2/(6^8))))^n)*((n^(5*(1/n)))^(n+(2^n))))))))^1))^8))*n))+n)))+n)`
</p>

</body>
</html>
